<center>
<img src="imgs/shift_tuto.jpeg"  alt="drawing" width="30%"/>
</center>
<br>
<br>

Basado en https://towardsdatascience.com/all-the-pandas-shift-you-should-know-for-data-analysis-791c1692b5e
<hr>

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime

Creamos un dataframe

In [19]:
df = pd.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50]
})

Desplazar una fila hacia abajo:

<left>
<img src="imgs/pd_shift_1.png"  style="margin: 0px 50px 0px 0px;" alt="drawing" width="30%"/>
<img src="imgs/pd_shift_1_fill.png"  alt="drawing" width="28%"/>
</left>

In [20]:
df.shift(periods=1)
# You can do below instead
df.shift(1)

     A     B
0  NaN   NaN
1  1.0  10.0
2  2.0  20.0
3  3.0  30.0
4  4.0  40.0

In [21]:
df.shift(1, fill_value = 0)

   A   B
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40

Podemos desplazar hacia arriba

<left>
<img src="imgs/pd_shift_-1.png"  alt="drawing" width="28%"/>
</left>

In [22]:
df.shift(-1)

     A     B
0  2.0  20.0
1  3.0  30.0
2  4.0  40.0
3  5.0  50.0
4  NaN   NaN

Desplazamiento de las columnas

<left>
<img src="imgs/pd_shift_ax.png"  alt="drawing" width="28%"/>
</left>

In [24]:
df.shift(1, axis=1)

    A  B
0 NaN  1
1 NaN  2
2 NaN  3
3 NaN  4
4 NaN  5

## Ahora con series temporales

In [28]:
df = pd.DataFrame({
        "A": [1, 2, 3, 4, 5],
        "B": [10, 20, 30, 40, 50]
    },  
    index=pd.date_range("2020-01-01", freq='D', periods=5)
)
df

            A   B
2020-01-01  1  10
2020-01-02  2  20
2020-01-03  3  30
2020-01-04  4  40
2020-01-05  5  50

Desplazar los valores 10 días. El valor del día 2020-02-02 pasará a 2021-01-11:

In [29]:
df.shift(freq='10D')
# The equivalent
df.shift(periods=10, freq='D')

            A   B
2020-01-11  1  10
2020-01-12  2  20
2020-01-13  3  30
2020-01-14  4  40
2020-01-15  5  50

__OJO__ ¿qué pasa si no ongo el parámetro freq?

In [30]:
df.shift(periods=10)

             A   B
2020-01-01 NaN NaN
2020-01-02 NaN NaN
2020-01-03 NaN NaN
2020-01-04 NaN NaN
2020-01-05 NaN NaN

# Ejercicios:

Bájate los datos de precio de cierre desde 2020-01-01 hasta hoy de la empresa Cisco y guárdalo en un DataFrames usando la librería __yfinance__ https://pypi.org/project/yfinance/

In [3]:
msft = yf.Ticker("MSFT")
csco = yf.Ticker("CSCO")

# get historical market data
masft_day = msft.history(period="max")
csco_day = csco.history(period="max")


# OJO queremos que csco_day siga siendo un dataframe

Calcula la diferencia entre el precio de cierre de un día y el precio de hace 7 días

Calcula los retornos diarios

Calcula los retornos diarios logarítmicos

Calcula los retornos mensuales

Crea dos nuevas columnas. La primera con los datos de cierre desplazados 90 días hacia delante y la segunda con los datos deplazados 90 días hacia detrás y haz una gráfica con las tres series.