# 4.1 Introducción a Pandas

Pandas es una muy popular librería de código abierto dentro de los desarrolladores de Python, y sobre todo dentro del ámbito de Data Science y Machine Learning, ya que ofrece unas estructuras muy poderosas y flexibles que facilitan la manipulación y tratamiento de datos.

Puedes encontrar la documentación de pandas [aquí](https://pandas.pydata.org/docs/index.html)

En particular puedes ver unos tutorials interesantes [aquí](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

# Estructuras de datos en Pandas

Las dos __estructuras de datos__ en pandas son:

- __Series__: array unidimensional que permite almacenar todo tipo de datos de numpy con un índice

- __Dataframe__: array bidimensional con columnas y un índice. Cada una de las columnas es una serie

<center>
<img src="./imgs/series+pandas.png"  alt="drawing" width="50%"/>
</center>

Para poder utilizar la librería, primero hay que instalarla:

- conda install -c anaconda pandas  as pd        ##### Si usas anaconda

- pip install pandas as pd

In [1]:
import numpy as np
import pandas as pd

__OJO: pandas utiliza por debajo numpy__

## Series

Una serie es:

- un array de datos unidimensional

- Un array de etiquetas que se denomina __índice__. No es obligatorio añadir el índice

Podemos crear una serie con índice o sin índice. Los parámetros que se pueden pasar al constructor pd.Series() son:

- __data__: contiene los datos de la series. Puede ser un escalar, una secuencia de Python o un ndarray unidimensional de numpy

- __index__: OPCIONAL. Son las etiquetas que se asignan a cada dato

- __dtype__: OPCIONAL: indica el tipo de los datos y puede ser cualquier tipo de dato de Numpy.

In [2]:
# crear una serie sin índice
serie1 = pd.Series([0, 1, 2, 3, 4, 5, 6])
serie1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [3]:
#crear una serie con índice
serie2 = pd.Series([0, 1, 2, 3, 4, 5, 6], index = ['a', 'b', 'c', 'd', 'f', 'g', 'h'])
serie2

a    0
b    1
c    2
d    3
f    4
g    5
h    6
dtype: int64

Si no se indica, el índice son enteros empiezando en 0

Con values obtenemos los valores y con index los índices

In [4]:
serie2.values

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [5]:
serie2.index

Index(['a', 'b', 'c', 'd', 'f', 'g', 'h'], dtype='object')

Crear una serie usando un diccionario

In [6]:
dict = {
    'peras': 2500,
    'manzanas': 3400,
    'naranjas': 8700
}
serie3 = pd.Series(dict)
serie3

peras       2500
manzanas    3400
naranjas    8700
dtype: int64

Seleccionamos elementos de una lista empleando el índice

In [7]:
# un elemento
print(serie2['b'])
serie1[1]

1

1

In [8]:
# varios elementos
print(serie2[['b', 'a', 'f']])
serie1[1:3]

b    1
a    0
f    4
dtype: int64

1    1
2    2
dtype: int64

Seleccionamos elementos empleando un índice booleano

In [9]:
serie1[serie1>3]

4    4
5    5
6    6
dtype: int64

Operaciones con las series

In [10]:
2 * serie1

0     0
1     2
2     4
3     6
4     8
5    10
6    12
dtype: int64

In [11]:
print(serie1.mean())
np.mean(serie1)

3.0

3.0

In [12]:
'peras' in serie3

True

Podemos cambiar el índice a una serie (pero todo, no uno solo)

In [13]:
serie3.index = ['melocotones', 'sandias', 'melones']
serie3

melocotones    2500
sandias        3400
melones        8700
dtype: int64

In [14]:
serie3.index[0]='ciruelas'    # Esto da error

TypeError: Index does not support mutable operations

Se le puede asignar el nombre a una serie:
- Si se hace el gráfico saldrá el nombre
- Si se genera un dataframe, será el nombre de la columna

In [ ]:
serie3.name = 'frutas'
serie3

peras       2500
manzanas    3400
naranjas    8700
Name: frutas, dtype: int64

## DataFrames

- Un DataFrame es la estructura de datos con la que Pandas almacena y manipula datos tabulados.

- Tiene filas y columnas, acepta distintos tipos de datos de Numpy y permite interactuar entre ellos.

- Puedes ver cada columna de un dataframe como una serie

- Tiene un índice para las filas y otro para las columnas 

- En palabras más sencillas, es como una hoja de cálculo de Excel.

<br>
<center>
<img src="./imgs/pandas.png"  alt="drawing" width="25%"/>
</center>

### Creación de Dataframes

Un Dataframe se crea mediante el constructor que puede recibir los siguientes parámetros:

- __data__: son los datos que va a almacenar el dataframe. Pueden ser un ndarray bidimensional, una serie, otro dataframe o un diccionario de Series

- __index__: Opcional. Son las etiquetas de las fila

- __columns__: Opcional. Son las etiquetas de las columnas

- __dtype__: Opcional. Fija el tipo de datos de todas las columas

In [ ]:
# Crear un Dataframe usando un diccionario
football_dict = {
		    "player": ["Lionel Messi", "Cristiano Ronaldo"],
		    "year": [2016, 2016],
		    "goals": [37, 25]
}
football_stats = pd.DataFrame(football_dict)
print(football_stats)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

In [ ]:
# Crear un Dataframe usando un diccionario de listas

football_list = [
		    {"player": "Lionel Messi", "year": 2016, "goals": 37},
		    {"player": "Cristiano Ronaldo", "year": 2016, "goals": 25},
		]
footbal_df = pd.DataFrame(football_list)
print(footbal_df)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

In [ ]:
# Crear un DataFrame usando listas

player = ["Lionel Messi", "Cristiano Ronaldo"]
year = [2016, 2016]
goals = [37, 25]
footbal_df = pd.DataFrame()
footbal_df['player'] = player
footbal_df['year'] = year
footbal_df['goals'] = goals
print(footbal_df)

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

In [ ]:
# podemos crear un DataFrame sin valores
prueba_df = pd.DataFrame(columns=['pares', 'impares'])
prueba_df

Empty DataFrame
Columns: [pares, impares]
Index: []

In [ ]:
# Crear un Dataframe usando un loop

lista_pares = []
lista_impares =[]

for i in range(5):
    lista_pares.append(2*i)
    lista_impares.append(2*i+1)

numeros = pd.DataFrame()
numeros["pares"] = lista_pares
numeros["impares"] = lista_impares
print(numeros)

   pares  impares
0      0        1
1      2        3
2      4        5
3      6        7
4      8        9

In [ ]:
numeros.columns=['pepe', 'jose']
print(numeros)

   pepe  jose
0     0     1
1     2     3
2     4     5
3     6     7
4     8     9

In [ ]:
numeros.columns=['pares', 'impares']

Pandas ofrece métodos para __leer y escribir ficheros csv, excell etc.__

Esto lo veremos más adelante, pero para poder cargar un dataframe con datos, vamos a leer un fichero .csv con datos sobre futbol. Para ello usamos el método __pd.read_csv()__

In [ ]:
footbal_stats = pd.read_csv('./data/Fullmetadata.csv', index_col='player_id')

Inspeccionar un Dataframe:

<center>
<img src="./imgs/Pandas Inspect Data.png"  alt="drawing" width="50%"/>
</center>

In [ ]:
footbal_stats.head()

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
8865,Ollie Watkins,9,810,6,22,12,0,0,F,Aston Villa
675,Jack Grealish,9,810,5,26,26,2,0,F M,Aston Villa
592,Ross Barkley,6,454,2,17,15,0,0,M,Aston Villa
1024,Tyrone Mings,9,810,2,7,2,2,0,D,Aston Villa
7726,Ezri Konsa Ngoyo,9,810,2,7,0,0,0,D,Aston Villa

In [ ]:
footbal_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18633 entries, 8865 to 4363
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  object
 1   games         18633 non-null  int64
 2   time          18633 non-null  int64
 3   goals         18633 non-null  int64
 4   shots         18633 non-null  int64
 5   key_passes    18633 non-null  int64
 6   yellow_cards  18633 non-null  int64
 7   red_cards     18633 non-null  int64
 8   position      18633 non-null  object
 9   team_name     18633 non-null  object
dtypes: int64(7), object(3)
memory usage: 1.6+ MB

In [ ]:
footbal_stats.shape

(18633, 10)

In [ ]:
footbal_stats.describe()

,games,time,goals,shots,key_passes,yellow_cards,red_cards
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,17.072291,1207.483282,1.624054,15.323888,11.354801,2.453979,0.127569
std,11.375527,975.753086,3.252418,20.934645,15.065863,2.685745,0.370656
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,326.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,16.000000,976.000000,0.000000,8.000000,5.000000,2.000000,0.000000
75%,27.000000,2004.000000,2.000000,21.000000,16.000000,4.000000,0.000000
max,38.000000,3420.000000,48.000000,227.000000,146.000000,17.000000,5.000000

Podemos recuperar los índices de las columns, filas y los valores del dataframe

In [ ]:
# índice de las fila
footbal_stats.index

Int64Index([8865,  675,  592, 1024, 7726, 7721, 7723,  695,  884, 1053,
            ...
            4231, 4256, 4257, 4259, 4260, 4267, 4268, 4311, 4334, 4363],
           dtype='int64', name='player_id', length=18633)

In [ ]:
# ïndice de las columnas
footbal_stats.columns

Index(['player_name', 'games', 'time', 'goals', 'shots', 'key_passes',
       'yellow_cards', 'red_cards', 'position', 'team_name'],
      dtype='object')

In [ ]:
# Recuperar los valores
footbal_stats.values

array([['Ollie Watkins', 9, 810, ..., 0, 'F', 'Aston Villa'],
       ['Jack Grealish', 9, 810, ..., 0, 'F M', 'Aston Villa'],
       ['Ross Barkley', 6, 454, ..., 0, 'M', 'Aston Villa'],
       ...,
       ['Idir Ouali', 6, 296, ..., 0, 'M S', 'Paderborn'],
       ['Mirnes Pepic', 2, 20, ..., 0, 'S', 'Paderborn'],
       ['Thomas Bertels', 1, 3, ..., 0, 'S', 'Paderborn']], dtype=object)

## Ordenar DataFrames

Se pueden ordenar por columnas, usando el índice etc

In [ ]:
# ordenar por índice de filas
footbal_stats.sort_index()

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
1,Christian Mathenia,33,2970,0,0,5,3,0,GK,Darmstadt
1,Christian Mathenia,24,2160,0,0,1,2,0,GK,Hamburger SV
1,Christian Mathenia,22,1933,0,0,1,2,0,GK,Nuernberg
1,Christian Mathenia,14,1260,0,0,1,1,0,GK,Hamburger SV
2,György Garics,21,1796,0,3,3,8,0,D S,Darmstadt
...,...,...,...,...,...,...,...,...,...,...
9161,Jan-Luca Schuler,1,8,0,1,0,0,0,S,Schalke 04
9163,Kean Bryan,2,155,0,0,1,0,0,D,Sheffield United
9170,John Finn,1,4,0,0,0,0,0,S,Getafe
9174,Edgar Sevikyan,1,5,0,0,0,0,0,S,Levante
9177,Giuseppe Mastinu,1,1,0,0,0,0,0,S,Spezia

In [ ]:
# ordenar por índice de columnas
footbal_stats.sort_index(axis=1)

,games,goals,key_passes,player_name,position,red_cards,shots,team_name,time,yellow_cards
player_id,,,,,,,,,,
8865,9,6,12,Ollie Watkins,F,0,22,Aston Villa,810,0
675,9,5,26,Jack Grealish,F M,0,26,Aston Villa,810,2
592,6,2,15,Ross Barkley,M,0,17,Aston Villa,454,0
1024,9,2,2,Tyrone Mings,D,0,7,Aston Villa,810,2
7726,9,2,0,Ezri Konsa Ngoyo,D,0,7,Aston Villa,810,0
...,...,...,...,...,...,...,...,...,...,...
4267,10,0,5,Florian Hartherz,D S,1,1,Paderborn,775,1
4268,22,0,3,Christian Strohdiek,D S,0,6,Paderborn,1608,2
4311,6,0,1,Idir Ouali,M S,0,4,Paderborn,296,1
4334,2,0,0,Mirnes Pepic,S,0,0,Paderborn,20,0
4363,1,0,0,Thomas Bertels,S,0,0,Paderborn,3,0

In [ ]:
footbal_stats.sort_values(by='team_name', ascending=False)

,player_name,games,time,goals,shots,key_passes,yellow_cards,red_cards,position,team_name
player_id,,,,,,,,,,
6851,Conor Coady,10,900,0,0,1,2,0,D,Wolverhampton Wanderers
787,Ryan Bennett,11,606,0,1,2,2,0,D S,Wolverhampton Wanderers
6849,Rui Patrício,37,3330,0,0,0,0,0,GK,Wolverhampton Wanderers
6851,Conor Coady,38,3420,0,0,2,5,0,D,Wolverhampton Wanderers
6855,Léo Bonatini,7,117,0,9,2,0,0,S,Wolverhampton Wanderers
...,...,...,...,...,...,...,...,...,...,...
2810,Salvatore Bocchetti,9,629,0,2,1,1,0,D S,AC Milan
3904,Gian Filippo Felicioli,1,5,0,0,0,0,0,S,AC Milan
3905,Alessandro Mastalli,1,13,0,1,0,0,0,S,AC Milan
3933,Davide Di Molfetta,1,1,0,0,0,0,0,S,AC Milan
2048,Antonio Nocerino,2,66,0,0,1,0,0,M S,AC Milan

¿Cómo podemos ver todos los métodos que se pueden usar de un objeto?

In [ ]:
print([ m for m in dir(numeros) if not m.startswith('_')])

['T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'impares', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pares', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

___
# EJERCICIOS

**1** Crea un DataFrame que sea una "matriz" 5x5 con los números del 1 al 25, los índices van desde 1 hasta 5 al igual que las columnas

**2** Leer los datos del fichero Fullmetadata.csv y almacenarlo en un DataFrame

**3** Muestra una descripción de los datos

**4** Muestra las 3 primeras filas

**5** Muestra los valores que toma la columna goles y cuántas veces aparece cada valor

**6** Selecciona las columnas player_names y goals