## Operaciones aritméticas

- Las  operaciones se aplican cuando hay "coincidencia" de índices en ambas estructuras (series, dataframes). introduciendo NaN en los resultados, cuando no hay coincidencia de claves. 

- Para solucionar este problema, pandas nos ofrece varias funciones básicas (suma, resta, multiplicación y división) que permiten establecer un valor de "relleno" en el caso de claves no coincidentes.

- IMPORTANTE: En un numpy, para poder hacer operaciones, los arrays debían tener las mismas dimensiones. 

- IMPORTANTE: En pandas, los dataframe pueden tener cualquier dimensión (no tienen porqué coincidir). Lo que se va a buscar en la coincidencia de índices, sobre los que realizar la operación.

<center>
<img src="imgs/Pandas aritmetica.png"  alt="drawing" width="400"/>
</center>

Ejemplos básicos usando series

In [1]:
import numpy as np
import pandas as pd

In [7]:
# crear una serie sin índice
serie1 = pd.Series([0, 1, 2, ], index = ['a', 'b', 'c'])

#crear una serie con índice
serie2 = pd.Series([10, 11, 12], index = ['a', 'b', 'c'])

In [8]:
serie1+serie2

a    10
b    12
c    14
dtype: int64

¿Qué ocurre cuando los índices no coinciden?

In [9]:
# crear una serie sin índice
serie1 = pd.Series([0, 1, 2, 3], index = ['a', 'b', 'k', 'l'])

#crear una serie con índice
serie2 = pd.Series([10, 11, 12, 13, 14, 15, 16], index = ['a', 'b', 'c', 'd', 'f', 'g', 'h'])

In [6]:
serie1+serie2

a    10.0
b    12.0
c     NaN
d     NaN
f     NaN
g     NaN
h     NaN
k     NaN
l     NaN
dtype: float64

Veamos algunos ejemplos con DataFrames

In [2]:
lista_pares = [ x for x in range(10) if x % 2 == 0]
lista_impares = [ x for x in range(10) if x % 2 != 0]

pares_df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e'])
impares_df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'f'])
pares_df["val"] = lista_pares
impares_df["val"] = lista_impares

In [3]:
pares_df.add(impares_df)

    val
a   1.0
b   5.0
c   9.0
d  13.0
e   NaN
f   NaN

In [4]:
print("Pares\n", pares_df)
print("Impares\n", impares_df)

Pares
    val
a    0
b    2
c    4
d    6
e    8
Impares
    val
a    1
b    3
c    5
d    7
f    9

¿Cuál será el resultado de __pares_df.add(impares_df, fill_value=0)__?

In [5]:
pares_df.add(impares_df, fill_value=0)

    val
a   1.0
b   5.0
c   9.0
d  13.0
e   8.0
f   9.0

In [6]:
pares_df.mul(impares_df, fill_value=0)

    val
a   0.0
b   6.0
c  20.0
d  42.0
e   0.0
f   0.0