In [2]:
import numpy as np
import pandas as pd

## Operaciones aritméticas

- Las  operaciones se aplican cuando hay "coincidencia" de índices en ambas estructuras (series, dataframes). introduciendo NaN en los resultados, cuando no hay coincidencia de claves. 
- Para solucionar este problema, pandas nos ofrece varias funciones básicas (suma, resta, multiplicación y división) que permiten establecer un valor de "relleno" en el caso de claves no coincidentes.
- IMPORTANTE: En un numpy, para poder hacer operaciones, los arrays debían tener las mismas dimensiones. 
- IMPORTANTE: En pandas, los dataframe pueden tener cualquier dimensión (no tienen porqué coincidir). Lo que se va a buscar en la coincidencia de índices, sobre los que realizar la operación.

<center>
<img src="imgs/Pandas aritmetica.png"  alt="drawing" width="400"/>
</center>

Ejemplos básicos usando series

In [7]:
# crear una serie sin índice
serie1 = pd.Series([0, 1, 2, ], index = ['a', 'b', 'c'])

#crear una serie con índice
serie2 = pd.Series([10, 11, 12], index = ['a', 'b', 'c'])

In [8]:
serie1+serie2

a    10
b    12
c    14
dtype: int64

¿Qué ocurre cuando los índices no coinciden?

In [9]:
# crear una serie sin índice
serie1 = pd.Series([0, 1, 2, 3], index = ['a', 'b', 'k', 'l'])

#crear una serie con índice
serie2 = pd.Series([10, 11, 12, 13, 14, 15, 16], index = ['a', 'b', 'c', 'd', 'f', 'g', 'h'])

In [6]:
serie1+serie2

a    10.0
b    12.0
c     NaN
d     NaN
f     NaN
g     NaN
h     NaN
k     NaN
l     NaN
dtype: float64

Veamos algunos ejemplos con DataFrames

In [19]:
lista_pares = [ x for x in range(10) if x % 2 == 0]
lista_impares = [ x for x in range(10) if x % 2 != 0]

pares_df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'e'])
impares_df = pd.DataFrame(index=['a', 'b', 'c', 'd', 'f'])
pares_df["val"] = lista_pares
impares_df["val"] = lista_impares

In [20]:
pares_df.add(impares_df)

    val
a   1.0
b   5.0
c   9.0
d  13.0
e   NaN
f   NaN

In [21]:
print("Pares\n", pares_df)
print("Impares\n", impares_df)

Pares
    val
a    0
b    2
c    4
d    6
e    8
Impares
    val
a    1
b    3
c    5
d    7
f    9

¿Cuál será el resultado de __pares_df.add(impares_df, fill_value=0)__?

In [17]:
pares_df.add(impares_df, fill_value=0)

    val
a   1.0
b   5.0
c   9.0
d  13.0
e   8.0
h   9.0

['T', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'val', 'value_counts', 'values', 'var', 'where', 'xs']